<div class="row">
        <div class="col-xs-12">
            <h5 style="color: blue;">Add new servers or blueprints</h5>
            <form>
                <div class="form-group">
                    <label for="servername">Server Name</label>
                    <input type="text" class="form-control" name="servername"
                    [(ngModel)]="servername">
                    <input type="text" class="form-control" name="servername"
                    #serverInputContent>
                </div>
                <div class="form-group">
                    <label for="servercontent">Server Content</label>
                    <input type="text" class="form-control" name="servercontent"
                    [(ngModel)]="servercontent">
                </div>
            </form>
        </div>
    </div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-toolbar" role="group">
            <!--<button class="btn btn-primary mr-1" type="button"
            (click)="onRefClick(servername, servercontent, 'server')">Add Server</button> -->
            <button class="btn btn-primary mr-1" type="button"
            (click)="onRefClick(serverInputContent)">Add Server</button>
            <button class="btn btn-primary" type="button"
            (click)="onClick(servername, servercontent, 'blueprint')">Add Blueprint</button>
        </div>
    </div>
</div>