<!-- NGmodel is the directive for two way binding 
Will grab the updated severName varibale once event binding is triggered
it will also update the value of serverName -->
<input type="text"
class="form-control"
[(ngModel)]="serverName">

<!--  () signal angular event binding -->
<button class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>

<!-- ngIf directive, will print this html element only 
when the expression in quotes is true

expression was expanded to have an else conditon, referenced to
noServer ngtemplate-->
<p *ngIf="serverCreated; else noServer">In Server.componet with ID: {{ serverName }}</p>
<!-- # is a local reference to ngtemplate block -->
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>