<!-- NGmodel is the directive for two way binding 
Will grab the updated severName varibale once event binding is triggered
it will also update the value of serverName -->
<input type="text"
class="form-control"
[(ngModel)]="serverName">

<!--  () signal angular event binding -->
<button class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>

<!-- ngIf directive, will print this html element only 
when the expression in quotes is true -->
<p *ngIf="serverCreated">In Server.componet with ID: {{ serverName }}</p>