<!-- NGmodel is the directive for two way binding 
Will grab the updated severName varibale once event binding is triggered
it will also update the value of serverName -->
<input type="text"
class="form-control"
[(ngModel)]="serverName">

<p>{{ serverName }}</p>

<!--  () signal angular event binding -->
<button class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>

<p> {{ serverCreationStatus }} </p>

<h1>In Server.componet with ID: {{ serverId }} is {{ getServerStatus() }}</h1>